###############################################################################
##                                                                           ##
##    General settings                                                       ##
##                                                                           ##
###############################################################################

stages:
  - pretest
  - test
  - benchmark

variables:
  GIT_SUBMODULE_STRATEGY: normal

default:
  before_script:
    - export
    - export CCACHE_BASEDIR=$CI_PROJECT_DIR
    - export CCACHE_DIR=/ccache
    - export CLICOLOR_FORCE=1 # enable color output from ninja (including compiler diagnostics)
    - export NUM_CORES=$(nproc --all)
    - export MAX_BUILD_CORES=$(( $(awk '( $1 == "MemTotal:" ) { print $2 }' /proc/meminfo) / ( 4 * 1024 * 1024  ) ))
    - "[[ $MAX_BUILD_CORES -lt $NUM_CORES ]] && export MAX_BUILD_CORES=$MAX_BUILD_CORES || export MAX_BUILD_CORES=$NUM_CORES"
    - echo "NUM_CORES = $NUM_CORES - MAX_BUILD_CORES =  $MAX_BUILD_CORES"
    # In a container environment we are running as root so we must disable [OpenMPI's protection](https://docs.open-mpi.org/en/v5.0.x/man-openmpi/man1/mpirun.1.html#label-schizo-ompi-allow-run-as-root).
    - if dpkg --compare-versions `ompi_info | head -2 | tail -1 | sed 's/[^0-9.]*\([0-9.]*\).*/\1/'` ge 1.10; then export MPIEXEC_PREFLAGS="--allow-run-as-root" ; fi
    - $CXX --version
    - cmake --version
    - ccache --version
    - doxygen --version
    - mpirun --version
    - ninja --version
    - python --version

###############################################################################
##                                                                           ##
##    Build templates                                                        ##
##                                                                           ##
###############################################################################

.build_template:
  script:
    - rm -rf /usr/include/boost /opt/boost
    - export CCACHE_STATSLOG=$CI_PROJECT_DIR/build/ccache-statslog
    - mkdir $CI_PROJECT_DIR/build
    - cd $CI_PROJECT_DIR/build
    - cmake ..
      -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
      -DCMAKE_CXX_FLAGS=$CMAKE_CXX_FLAGS
      -DWARNING_ERROR=$WARNING_ERROR
      -DWALBERLA_DOUBLE_ACCURACY=$WALBERLA_DOUBLE_ACCURACY
      -DHYTEG_BUILD_WITH_MPI=$HYTEG_BUILD_WITH_MPI
      -DHYTEG_BUILD_WITH_OPENMP=$HYTEG_BUILD_WITH_OPENMP
      -DWALBERLA_BUILD_WITH_METIS=$WALBERLA_BUILD_WITH_METIS
      -DWALBERLA_BUILD_WITH_PARMETIS=$WALBERLA_BUILD_WITH_PARMETIS
      -DWALBERLA_LOG_LEVEL=PROGRESS
      -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE
      -DMPIEXEC_PREFLAGS=$MPIEXEC_PREFLAGS
      -DHYTEG_BUILD_WITH_PETSC=$HYTEG_BUILD_WITH_PETSC
      -DHYTEG_BUILD_WITH_PYTHON3=$HYTEG_BUILD_WITH_PYTHON3
      -DPETSC_DIR=$PETSC_DIR
      -DHYTEG_BUILD_WITH_TRILINOS=$HYTEG_BUILD_WITH_TRILINOS
      -DHYTEG_TERRANEO_MODULE=$HYTEG_TERRANEO_MODULE
      -DHYTEG_MANTLECONVECTION_APP=$HYTEG_MANTLECONVECTION_APP
      -DHYTEG_DONT_BUILD_DURING_CI=$HYTEG_DONT_BUILD_DURING_CI
      -DHYTEG_DOWNLOAD_BOOST=$HYTEG_DOWNLOAD_BOOST
      -DHYTEG_BUILD_WITH_ADIOS2=$HYTEG_BUILD_WITH_ADIOS2
      -DHYTEG_BUILD_WITH_MPFR=$HYTEG_BUILD_WITH_MPFR
      -DWALBERLA_SANITIZE_ADDRESS=$WALBERLA_SANITIZE_ADDRESS
      -DWALBERLA_SANITIZE_UNDEFINED=$WALBERLA_SANITIZE_UNDEFINED
      -DWALBERLA_OPTIMIZE_FOR_LOCALHOST=$WALBERLA_OPTIMIZE_FOR_LOCALHOST
      -DWALBERLA_BUILD_WITH_HALF_PRECISION_SUPPORT=$WALBERLA_BUILD_WITH_HALF_PRECISION_SUPPORT
      -GNinja
    - cmake . -LA
    - ninja -j $MAX_BUILD_CORES -l $NUM_CORES tests/all apps/all tutorials/all
    - ccache --show-log-stats
    - cd $CI_PROJECT_DIR/build/tests
    - ctest -LE $CTEST_EXCLUDE_LABELS -C $CMAKE_BUILD_TYPE --output-on-failure -j $NUM_CORES
    - cd $CI_PROJECT_DIR/build/tutorials
    - ctest -LE $CTEST_EXCLUDE_LABELS -C $CMAKE_BUILD_TYPE --output-on-failure -j $NUM_CORES
    - cd $CI_PROJECT_DIR/build/apps
    - ctest -LE $CTEST_EXCLUDE_LABELS -C $CMAKE_BUILD_TYPE --output-on-failure -j $NUM_CORES
  tags:
    - docker
  # these are the defaults which will be overwritten with the extends keyword
  variables:
    CMAKE_CXX_FLAGS: "-fdiagnostics-color=always"
    CTEST_EXCLUDE_LABELS: "longrun"
    HYTEG_BUILD_WITH_MPI: "ON"
    HYTEG_BUILD_WITH_OPENMP: "OFF"
    OMP_NUM_THREADS: "4"
    OMP_WAIT_POLICY: "PASSIVE"
    CMAKE_BUILD_TYPE: "Release"
    HYTEG_BUILD_WITH_ADIOS2: "ON"
    HYTEG_BUILD_WITH_PETSC: "OFF"
    HYTEG_BUILD_WITH_PYTHON3: "ON"
    HYTEG_BUILD_WITH_TRILINOS: "OFF"
    HYTEG_BUILD_WITH_MPFR: "ON"
    HYTEG_DOWNLOAD_BOOST: "ON"
    HYTEG_TERRANEO_MODULE: "ON"
    HYTEG_MANTLECONVECTION_APP: "OFF"
    HYTEG_DONT_BUILD_DURING_CI: "OFF"
    WALBERLA_BUFFER_DEBUG: "OFF"
    WALBERLA_DOUBLE_ACCURACY: "ON"
    WALBERLA_BUILD_WITH_METIS: "ON"
    WALBERLA_BUILD_WITH_PARMETIS: "ON"
    WALBERLA_BUILD_WITH_HALF_PRECISION_SUPPORT: "OFF"
    WALBERLA_OPTIMIZE_FOR_LOCALHOST: "OFF"
    WARNING_ERROR: "ON"

.serial_dbg_sp:
  variables:
    CMAKE_BUILD_TYPE: "Debug"
    HYTEG_BUILD_WITH_MPI: "OFF"
    HYTEG_BUILD_WITH_OPENMP: "OFF"
    WALBERLA_BUILD_WITH_METIS: "OFF"
    WALBERLA_BUILD_WITH_PARMETIS: "OFF"
    WALBERLA_DOUBLE_ACCURACY: "OFF"

.mpionly_petsc_trilinos:
  variables:
    HYTEG_BUILD_WITH_OPENMP: "OFF"
    HYTEG_BUILD_WITH_PETSC: "ON"
    HYTEG_BUILD_WITH_TRILINOS: "ON"
    WALBERLA_OPTIMIZE_FOR_LOCALHOST: "ON"

.mpionly_dbg_petsc_trilinos:
  variables:
    CMAKE_BUILD_TYPE: "Debug"
    HYTEG_BUILD_WITH_OPENMP: "OFF"
    HYTEG_BUILD_WITH_PETSC: "ON"
    HYTEG_BUILD_WITH_TRILINOS: "ON"


###############################################################################
##                                                                           ##
##    Linux builds                                                           ##
##                                                                           ##
###############################################################################


clang_21_serial_dbg_sp:
  extends:
    - .build_template
    - .serial_dbg_sp
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-clang-21

clang_19_mpionly_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-clang-19
  stage: pretest
  variables:
    HYTEG_BUILD_WITH_ADIOS2: "OFF"

clang_21_mpionly_dbg_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_dbg_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-clang-21

gcc_15_mpionly:
  extends: .build_template
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-15
  stage: pretest
  variables:
    HYTEG_BUILD_WITH_OPENMP: "OFF"

gcc_15_serial_dbg_sp:
  extends:
    - .build_template
    - .serial_dbg_sp
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-15

gcc_13_mpionly_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-13
  variables:
    HYTEG_BUILD_WITH_ADIOS2: "OFF"
    HYTEG_BUILD_WITH_PYTHON3: "OFF"
    HYTEG_TERRANEO_MODULE: "OFF"

gcc_15_mpionly_dbg_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_dbg_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-15

icx_2025_serial_dbg_sp:
  extends:
    - .build_template
    - .serial_dbg_sp
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-icx-2025
  variables:
    CMAKE_CXX_FLAGS: "-fdiagnostics-color=always -Rno-debug-disables-optimization"

icx_2024_mpionly_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-icx-2024
  variables:
    CMAKE_CXX_FLAGS: "-fdiagnostics-color=always -fp-model=precise"

icx_2025_mpionly_dbg_petsc_trilinos:
  extends:
    - .build_template
    - .mpionly_dbg_petsc_trilinos
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-icx-2025
  variables:
    CMAKE_CXX_FLAGS: "-fdiagnostics-color=always -Rno-debug-disables-optimization"


###############################################################################
##                                                                           ##
##    Documentation                                                          ##
##                                                                           ##
###############################################################################

.docu_template:
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-15
  script:
    - cd $CI_PROJECT_DIR/doc
    - python3 checkImages.py
    - mkdir $CI_PROJECT_DIR/build
    - cd $CI_PROJECT_DIR/build
    - cmake ..
    - make doc_hyteg
    - mv doc/html/ $CI_PROJECT_DIR/public/
  artifacts:
    paths:
      - public
  needs: [ ]
  tags:
    - docker

pages:
  extends: .docu_template
  only:
    - master

# second job that builds the documentation on other branches than the master
docu_build:
  extends: .docu_template
  except:
    - master
  when: manual


###############################################################################
##                                                                           ##
##    Benchmarks                                                             ##
##                                                                           ##
###############################################################################

benchmark_build_time:
  script:
    - apt-get update --fix-missing
    - apt-get install -y python3-influxdb time
    - mkdir $CI_PROJECT_DIR/build
    - cd $CI_PROJECT_DIR/build
    - cmake .. -DCMAKE_BUILD_TYPE=RELEASE -DMPIEXEC_PREFLAGS=$MPIEXEC_PREFLAGS
    - cmake . -LA
    - time make walberla_core -j20
    - /usr/bin/time -o $CI_PROJECT_DIR/BuildTiming.txt -f "hyteg buildtime %e" make hyteg -j20
    - cd $CI_PROJECT_DIR/build/tests && \
    - /usr/bin/time -o $CI_PROJECT_DIR/BuildTiming.txt -a -f "tests buildtime %e" make -j20
    - cd $CI_PROJECT_DIR/build/apps && \
    - /usr/bin/time -o $CI_PROJECT_DIR/BuildTiming.txt -a -f "apps buildtime %e" make -j20
    - cd $CI_PROJECT_DIR/
    - cat BuildTiming.txt
    # - python3 $CI_PROJECT_DIR/data/scripts/upload.py
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-gcc-15
  tags:
    - docker-benchmark
  variables:
    CTEST_EXCLUDE_LABELS: "longrun"

benchmark_ClangBuildAnalyzer:
  script:
    - cd /tmp
    - git clone https://github.com/aras-p/ClangBuildAnalyzer.git
    - cd ClangBuildAnalyzer
    - cmake .
    - make
    - export PATH+=:$(pwd)
    - mkdir $CI_PROJECT_DIR/build
    - cd $CI_PROJECT_DIR/build
    - cmake .. -DCMAKE_BUILD_TYPE=RELEASE -DMPIEXEC_PREFLAGS=$MPIEXEC_PREFLAGS -G Ninja -DCMAKE_CXX_FLAGS=-ftime-trace -G Ninja
    - cmake . -LA
    - ClangBuildAnalyzer --start src
    - ninja hyteg
    - ClangBuildAnalyzer --stop src CBA
    - ClangBuildAnalyzer --analyze CBA
  image: i10git.cs.fau.de:5005/ci/images/spack-stable-bincache:i10ci-hyteg-clang-21
  tags:
    - docker-benchmark
  variables:
    CTEST_EXCLUDE_LABELS: "longrun"
