[submodule "walberla"]
	path = walberla
	url = https://i10git.cs.fau.de/walberla/walberla.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/mpfr-wrapper/mpreal"]
	path = extern/mpfr-wrapper/mpreal
	url = https://github.com/advanpix/mpreal.git
[submodule "src/hyteg_operators"]
	path = src/hyteg_operators
	url = https://i10git.cs.fau.de/hyteg/hyteg-operators.git

[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
